* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    font-family: Outfit;
    background-color: #14161B;
}

.hero-main-div {
    margin: 40px auto;
    width: 50%;
    margin-top: 0;
    padding-top: 50px;
}

/* Main Hero Section */
.hero-main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.my-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-image img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    box-shadow: 0.2px 0.2px 50px rgba(79, 69, 136, 0.286);
}

.my-name {
    display: flex;
    margin-top: 140px;
}

.my-name h3 {
    color: #FFF;
    font-family: Outfit;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.25px;
    text-transform: capitalize;
}

.my-name h4 {
    color: rgba(172, 158, 255, 0.87);
    font-family: Outfit;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.75px;
    text-transform: capitalize;
}

/* Little About Me */
.little-about-me {
    color: #FFF;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin: 30px 20px;
    text-align: center;
    margin-top: 80px;
}

.little-about-me span:hover {
    color: rgba(172, 158, 255, 0.87);
}

/* Scroll Down Text  */
.scroll-down-text {
    color: rgb(61, 65, 75);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin: 200px 20px;
    text-align: center;
}

/* Making Responsive */
@media screen and (min-width: 1480px) and (max-width: 1750px) {
    .hero-main-div {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
    .hero-main-div {
        width: 70%;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1280px) {
    .hero-main-div {
        width: 90%;
    }

    .my-image img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: 0.2px 0.2px 50px rgba(79, 69, 136, 0.286);
        margin-left: 100px;
    }

    .my-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .my-name {
        display: flex;
        margin-top: 100px;
        margin-right: 100px;
    }

    .my-name h3 {
        font-size: 40px;
    }

    .my-name h4 {
        font-size: 30px;
    }

    .little-about-me {
        font-size: 15px;
    }
}

@media screen and (min-width: 990px) and (max-width: 1040px) {
    .hero-main-div {
        width: 90%;
    }

    .my-image img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: 0.2px 0.2px 50px rgba(79, 69, 136, 0.286);
        margin-left: 80px;
    }

    .my-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .my-name {
        display: flex;
        margin-top: 100px;
        margin-right: 80px;
    }

    .my-name h3 {
        font-size: 40px;
    }

    .my-name h4 {
        font-size: 30px;
    }

    .little-about-me {
        font-size: 15px;
    }
}

@media screen and (min-width: 0px) and (max-width: 990px) {
    .hero-main-section {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
    }

    .my-image img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0.2px 0.2px 50px rgba(79, 69, 136, 0.286);
        margin-left: 0px;
    }

    .my-name {
        display: flex;
        margin: 10px auto;
        margin-top: 40px;
        height: 100px;
        text-align: center;
    }

    .my-name h3 {
        color: #FFF;
        font-family: Outfit;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.25px;
        text-transform: capitalize;
    }

    .my-name h4 {
        color: rgba(172, 158, 255, 0.87);
        font-family: Outfit;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.75px;
        text-transform: capitalize;
    }
}